{% extends 'base/base.html' %} {% block content%}
<style>
    .card-panel {
        background-image: linear-gradient(145deg, #C33764, #1D2671);
    }
    
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(79, 234, 255);
        opacity: 0.8;
        /* Firefox */
    }
    
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgb(79, 234, 255);
    }
    
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgb(79, 234, 255);
    }
</style>
<div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12">
        <div class="card-panel" style="background-image: linear-gradient(250deg, #34e89e, #0f3443); border-radius: 25px; color: white; margin-top: 4%;">
            For <b>Customer</b> Signup/Login <a class="right" href="/user/login" style="color: rgb(128, 25, 168);">Click Here</a>
        </div>
    </div>
    <div class="col l6 offset-l3 m8 offset-m2 s12">
        <div class="card-panel center" style="border-radius: 30px; margin-bottom: 10%; margin-top: 6%">
            {% if messages %} {% for messsage in messages %} {% if messsage.tags == 'info' %}
            <div class='chip green white-text'>{{messsage}}</div>
            {% endif %} {% if messsage.tags == 'warning' %}
            <div class='chip red white-text'>{{messsage}}</div>
            {% endif %}
            <br> {% endfor %} {% endif %}
            <div class="center">
            </div>
            <ul class="tabs " style="border-radius: 25px;">
                <li class="tab col s6"><a class="active purple-text" href="#login" style="font-family: 'Oswald', sans-serif; font-size:1.3rem;background:rgb(251, 255, 9); border-top-left-radius: 20px; border-bottom-left-radius:20px;">Login</a></li>
                <li class="tab col s6"><a class="purple-text" href="#signup" style="font-family: 'Oswald', sans-serif; font-size:1.3rem;background:rgb(251, 255, 9);">Sign Up</a></li>
            </ul>
            <div class="row">
                <div id="login" class="col s12">
                    <h4 class="center" style="color: yellow;"><b>Login as Room Manager</b></h4>
                    <form class="col s12" method="POST" action="/manager/login1">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix yellow-text text-lighten-2">person_pin</i>
                                <input type="text" name="username" id="username" required="" placeholder="Enter Username" style="color: yellow;">
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix yellow-text text-lighten-2">vpn_key</i>
                                <input type="password" name="password" id="password" required="" placeholder="Enter Password" style="color: yellow;">
                            </div>
                            {% csrf_token %}
                            <div class="center">
                                <input type="submit" value="Login" class="btn-large" style="background: #ff9100; color: #000046;" name="login">
                            </div>
                        </div>
                    </form>
                </div>
                <div id="signup" class="col s12">
                    <h4 class="center" style="color: yellow;"><b>Signup as Room Manager</b></h4>
                    <form class="col s12" enctype="multipart/form-data" action="/manager/signup1" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix yellow-text text-lighten-2">email</i>
                                <input type="email" name="email" id="email" required class="validate" placeholder="Email" style="color: yellow;">
                                <span class="helper-text" data-error="Wrong Email Format"></span>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix yellow-text text-lighten-2">person_pin</i>
                                <input type="text" name="username" id="username" required placeholder="Username" style="color: yellow;">
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix yellow-text text-lighten-2">vpn_key</i>
                                <input type="password" name="password" id="password" required placeholder="Password" style="color: yellow;">
                            </div>
                            &nbsp;&nbsp;<i class="material-icons yellow-text text-lighten-2 small" style="line-height: 2; vertical-align: middle;">face</i> &nbsp;&nbsp;
                            <p style="display:inline">
                                <input class="with-gap" name="gender" type="radio" id="male" value="Male" />
                                <label for="male" style="color: yellow;"><b>Male</b></label>
                            </p>
                            <p style="display:inline">
                                <input class="with-gap" name="gender" type="radio" id="female" value="Female" />
                                <label for="female" style="color: yellow;"><b>Female</b></label>
                            </p>
                            <p style="display:inline">
                                <input class="with-gap" name="gender" type="radio" id="others" value="Others" />
                                <label for="others" style="color: yellow;"><b>Others</b></label>
                            </p>

                            {% csrf_token %}
                            <div class="input-field col s12">
                                <i class="material-icons prefix yellow-text text-lighten-2">phone</i>
                                <input type="text" name="phone_no" id="phone" required placeholder="10 digit phone no" style="color: yellow;">
                            </div>
                            <div class="file-field input-field col s12">
                                <div class="btn purple">
                                    <span><i class="material-icons left yellow-text text-lighten-1">mood</i> Profile Pic</span>
                                    <input type="file" name="profile_pic">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                            <div class="center">
                                <input type="submit" value="Sign Up" name="signup" class="btn-large" style="background: #00f7ff; color: black;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').select2({
            width: "100%"
        });
    });
</script>
{%endblock%}